html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

a {
  color: white;
  font-style: italic;
}

a:hover {
  color: red;
}

#search {
  color: white;
  z-index: 9999;
  position: fixed;
  top: 8px;
  right: 8px;
  width: 347px;
  padding: 12px;
  border-radius: 8px;
  background: rgba(0,0,0,0.75);
}

.address, .go {
  padding: 2px;
}

.go {
  font-size: 100%;
}

.destination {
  margin-bottom: 5px;
}

.byline {
  font-style: italic;
  margin-top: -10px;
}
